<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MicittApp.DataAccess.Properties.Settings.DBMICITTConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBMICITT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MicittApp.DataAccess.Properties.Settings.DBMICITTConnectionString1"
            connectionString="Data Source=.;Initial Catalog=DBMICITT;Persist Security Info=True;User ID=sa;Password=GEServerD3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>